<!-- <h1 i class="fa fa-globe" aria-hidden="true"></i>
World Timeline</h1>

<ul ng-repeat="tweet in tweets">
  <li>{{tweet}}</li>
</ul>
<img src="{{ user.avatar_url }}" alt="" /> -->


<nav class="navbar form-inline" >
  <div class="" style="text-align : left;">
  <div>

  </div>
  </div>
  <div class="" style="text-align : right;">
    <div class="form-inline">
      <div class="form-group">
        <!-- <label for="exampleInputName2">Name</label> -->
        <input ng-model="usr" type="text" class="form-control" placeholder="username">
      </div>
      <div class="form-group">
        <!-- <label for="exampleInputEmail2">Email</label> -->
        <input ng-model="password" type="password" class="form-control" placeholder="password">
      </div>
        <button ng-hide = "loggedIn" ng-click="loginPost()" class="btn btn-success">login</button>
        <button ng-show = "loggedIn" ng-click="logOut()" class="btn btn-danger">logOut</button>
        <button ui-sref="signup" class="btn btn-primary">Signup</button>
      </div>
  </div>

</nav>


<div class="center">
 <div class="col-sm-offset-4 col-sm-4 col-md-offset-4 col-md-4 col-lg-offset-4 col-lg-4 col-xl-offset-4 col-xl-4">
   <i class="fa fa-globe"></i>
   <h2><font color="#1da1f2 "><strong>World Moments</strong></font></h2>
   <ul class="tweet" ng-repeat="tweet in tweets | orderBy : '-timestamp'">
     <li> <span>{{tweet.text}}</span><br>
       <div class="userdate" style="text-align: right;">
         <a ui-sref="profile({ username : tweet.username})">{{tweet.username}}</a>, {{tweet.timestamp | date : 'MMM, d' }}
         <div class="col-sm-3" style="text-align: left;">
         <button class="heart" ng-click="likes(tweet._id)"><i class="fa fa-heart"></i></button><span style= "font-size : .75em;">{{tweet.likes_counter}}</span>
         </div>
       </div>
     </li>
   </ul>
 </div>
</div>
